@charset "utf-8";

body {
    padding: 0;
    margin: 0 auto;
    font-size: 14px;
    color: #232628;
    background: #E9ECF0;
}
body.noscroll{
    touch-action: none;
    overflow: hidden;
}

body.overflow-hidden {
    overflow: hidden;
}
html,body{
    width: 100%;
    height: 100%;
}

div,
ul,
ol,
dl,
p,
pre,
section,
article,
aside,
li,
nav,
input,
textarea {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

input,
textarea,
select {
    outline: none;
    appearance: none;
}

input::-webkit-autofill,
textarea::-webkit-autofill,
select::-webkit-autofill {
    background-color: transparent;
    background-image: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    line-height: 1em;
}

ul,
dl,
dt,
dd {
    list-style: none;
}

img {
    width: 100%;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: inherit;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    -webkit-focus-ring-color: transparent;
}

i,
em,
strong {
    font-style: normal;
}

.cl {
    *zoom: 1;
}

.cl:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
}

.iconfont {
    font-size: inherit;
}

.text-overflow {
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-overflow-line2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.text-overflow-line3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}