.leftClassification{
    width: 100%;
    height: auto;
    padding-top: 10px;
    position: sticky;
    top: 1px;
    .type{
        >div{
            padding: 10px 20px;
            line-height: 20px;
            font-size: 16px;
            cursor: pointer;
        }
    }
}